<form method="POST" action="/landmarks">
<h1>Enter a new landmark</h1>
<input type="text" name="landmark" placeholder="landmark name"></input>
<input type="submit" value="Create New Landmark"></input>
</form>

<h1> Existing Landmarks </h1>
<%@landmarks.each do |landmark| %>
<input type="checkbox"><%=landmark.name%></input>
<%end%>
